* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 100%;
}

.row.center-align{
    height: 100%;
}

.col.s12.m4.l4.offset-m4.offset-l4.amber.lighten-2.text-center{
    height: 100%;
    padding-top: 20px;
    display: flex;
}

.col.m4.l4.offset-m8.offset-l8.valign-wrapper.hide-on-small-only img {
    /* display: flex; */
    /* transform: translate(620px, -600px); */
    width: 20vw;
}

.col.m4.l4.offset-m8.offset-l8.valign-wrapper.hide-on-small-only {
    height: 100%;
    /* transform: translate(620px, -600px); */
}