* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    font-family: "DM Serif Display", serif;
}

main {
    height: 100%;
}

h6{
    color: #F3CC4D;
}

.col.s12.m4.l4.amber.lighten-2.text-center{
    display: flex;
    padding-top: 32px;
}

.row.center-align{
    height: 100vh;
}

.col.m4.l4.valign-wrapper.hide-on-small-only{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.waves-effect.brown.darken-4.btn{
    font-size: 20px;
   
}

